<div >
    <table>
        <tr>
            <td>
                <div class="Watchlist">
                    Watchlist <br/>
                    {{watchlistCount}}
                </div>    
            </td>
            <td>
                Filter Course 
                Category
                
                    <select #category (change)="getFilterData(category.value)">
                        <option> Programming </option>
                        <option> AI </option>
                        <option> Communication </option>
                        <option> Database </option>
                    </select>
                   
            
            </td>
            
        </tr>
    </table>
   


</div>



<hr/>
<div *ngFor="let c of allCourse">
<table>
    <tr>
        <td> <img src="/assets/images/{{c.imageName}}" alt="Java course image" width="120px" height="150px"> </td>
        <td> 
            <h2>{{c.courseName}} </h2>
            <p> {{c.about|shortInfo}} </p>
            <hr/>
            <span>Course Price <span [style]="c.price<75?priceLowCss:priceNormalCSS" >{{c.price|currency}}    </span>  
                <i *ngIf="c.discount>0"> 
                    with {{c.discount}}% Off 
                    <span *ngIf="c.discount>9">
                        <b style="color: blue; font-family: Georgia, 'Times New Roman', Times, serif;"><u> Recommended</u></b>
                    </span>
                </i> 
        
            </span> 
            <br/>
            Course Duration {{c.duration}} Days , @ 8 hrs in a Day
            <hr/>
            <button value="{{c.courseId}}" (click)="goForBuy(course.value)" #course> Enroll Course </button>
            <button value="{{c.courseId}}" (click)="addWatchlist(course.value)" #course> Add to Watchlist </button>
            <br/>
            <button value="{{c.courseId}}" (click)="viewCourseDetails(course.value)" #course> View Details</button>
                
            
        </td>
        
    </tr>
</table>
</div>

