<table style="width: 100%; height: 15%;">
  <tr>
    <td style="width: 10%;"> <img src="/assets/images/MKJ_Logo2.jpg"> </td>
    <td style="width: 70%;background-color: rgb(233, 228, 244);"> <span style="font-size: 70px; color: rgb(6, 6, 72);margin-left: 20%; "> MKJ IT Learnings</span> </td>
    <td style="width: 20%;background-color: rgb(233, 228, 244); ">
      <div *ngIf="loginStatus == false">
        <table style="width: 100%; height: 100%;">
          <tr><input type="text" placeholder="username" #username/></tr>
          <tr><input type="password" placeholder="password" #password/> </tr>
          <tr>
             <button (click)="verifyUser(username.value,password.value)"> Login</button> 
            <button> Register </button>
          </tr>
        </table>
      </div>

      <div *ngIf="loginStatus == true">
          <table>
            <tr>
              <td> <img src="/assets/userimage/{{photo}}" width="65px" height="65px"> </td>
              <td> 
                   Welcome <b> {{loginUsername}} </b> as <i> {{userRole}} </i> 
                   <br/>
                   <a href="#"> profile </a>
                   <a href="#" (click)="doLogout()" style="margin-left: 20px;"> logout </a>
                   
              </td>
            </tr>
          </table>
         
    
      </div>

    </td>
  </tr>
</table>
<hr class="line"/>
<table style="width: 100%; height: 30%;" *ngIf="loginStatus == true">
  <tr>
    
    <td class="link"> <a   routerLink="/search">Search</a> </td>
    <td class="link"> <a   routerLink="#">Profile</a> </td>
    <td class="link"> <a   routerLink="/enrolledCourse">Enrolled Course</a> </td>
    <td class="link"> <a   routerLink="#">Upcoming Courses</a>  </td>
    <td class="link"> <a   routerLink="/admin"  *ngIf="(userRole == 'admin')"> Admin </a>   </td>
  </tr>
</table>
<hr class="line2" *ngIf="loginStatus == true"/>
<div *ngIf="loginStatus == false">
  <img src="/assets/images/home.JPG"/>
</div>
<div *ngIf="loginStatus == true">
  <router-outlet></router-outlet>
</div>

