.ribbon{
    background-color: rgb(240, 237, 194);
    color: brown;
    font-size: larger;
    font-family: 'Lucida Sans';
    font-style: italic;
    width: 100%;
    height: 30px;
    text-align: center;
}

.mycell{
    width: 30%;
    text-align: right;
}

.mycell2{
    width: 70%;
    text-align: center;
}