
<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchcourse"> Launch New Course</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/courses"> View All Course</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/upcomingcourses"> Upcoming Courses </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/workshop">Workshop </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bootcamp"> Bootcamp</a>  </td>
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>